lab1_mpi/array_sum_mpi
lab2_openmp/array_sum_openmp
*.o
*.obj

lab*/results/*
!lab*/results/.gitkeep

*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.md
*.tex
*.pdf

.DS_Store
.AppleDouble
.LSOverride

.vscode/
.idea/
*.swp
*.swo

*~
core
